{
  "ci": true,
  "branches": [
    { "name": "+([0-9])?(.{+([0-9]),x}).x", "range": "1.x.x", "channel": "v1" },
    "main",
    { "name": "beta", "prerelease": true },
    { "name": "alpha", "prerelease": true }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/github",
      {
        "assets": [
          "bin/index.js",
          "CHANGELOG.md",
          "README.md",
          "package.json",
          "yarn.lock"
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "bin/index.js",
          "CHANGELOG.md",
          "README.md",
          "package.json",
          "yarn.lock"
        ],
        "message": "chore: release <%= nextRelease.version %> [skip ci]\n\n<%= new Date().toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %>\n<%= nextRelease.notes %>"
      }
    ]
  ]
}
